.gameCenter {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
}
canvas {
    background: url(../resource_pack/background/map1_withouth_cop_and_key.png);
}

.level img{
    width: 600px;
    height: auto;
}