body{
    font-family: 'VT323', monospace;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    background-color: aquamarine;
}

.gameCenter {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    
}
canvas {
    background: url(../resource_pack/background/map1_withouth_cop_and_key.png);
}

p{
    font-size: 7rem;
    text-align: center;
    color: #b9229b;
    text-shadow: 4px 2px #1e0ef4;
    margin: 0;
}