body{
    font-family: 'VT323', monospace;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
}

.gameCenter {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;

}
canvas {
    background: url(../resource_pack/background/map1_withouth_cop_and_key.png);
    position: relative;
}

p{
    font-size: 7rem;
    text-align: center;
    color: #b9229b;
    text-shadow: 4px 2px #1e0ef4;
    margin: 0;
}

.gameDisplay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 1300px;
    height: 731px;
    top: 112px;
}

.gameDisplay h1, .gameDisplay h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.gameDisplay h1 {
    margin-top: 176px;
    font-size: 93px;
    
}

.gameDisplay h2 {
    margin-right: auto;
    margin-left: auto;
    width: 160px;
    font-size: 50px;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: none;
	transition: background-color 0.3s ease-out;
}

.gameDisplay h2:hover {
    background-color: white;
    color: black;
}

