body {
  width: 960px;
  margin: 0 auto;
  background: #d1ccc0;
  font-family: 'Oxygen', sans-serif;
}

header, footer {
  background: #84817a;
  color: #fff;
}

header p {
  margin-top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 10px 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 960px;
}

/* MAIN */
main {
  margin-top: 40px;
}
.allGame {
  background: rgba(0, 0, 0, 0.7);
  padding: 40px 20px;
}

.game {
  display: flex;
  justify-content: space-between;
}

.firstImage{
  height: 214px;
  width: 378.5px;
}

.images img{
  height: 87px;
  width: 169.25px;
}

.informations{
  padding-left: 4px;
}

button {
  margin-top: 17px;
  margin-left: 180px;
  height: 50px;
  width: 190px;
  background: #fed330;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

.description {
  color: white;
  font-size: 14px;
  margin: 2px;
}

button a{
  text-decoration: none;
  color: black;
}

  /* FOOTER */
.flex-container {
  margin: auto;
  width: 330px;
  display: flex;
  justify-content: space-around;
}

.flex-container a{
  color: white;
  text-decoration: none;
}
.flex-container a:hover{
  color: #f9ca24;
}

.copyright{
  text-align: center;
  font-size: 13px;
}
