body {
  margin: 0;
  background: #F5F5F5;
  font-family: 'Roboto Slab', serif;
}

header, footer {
  background: #30336b;
  color: #fff;
}

/*header p {
  margin-top: 0;
}*/

header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 10px 60px;
  border-bottom: solid 5px #1abc9c;

}

header .logo img{
  width: 75px;
  height: auto;
}

#socialMedia{
  padding-top: 10px;
  padding-right: 110px;
}
#socialMedia img:hover {
  background: #1abc9c;
  border-radius: 50%;
}

  /* MAIN */
p {
  margin: 10px 130px;
  font-size: 16px;
}
main {
  margin-top: 40px;
}

main h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'VT323', monospace;
}

  /*SLIDER*/
.container{
  width: 458px;
  margin: 0 auto;
}
.slider{
  margin:20px 0px;
  width:100%;
  height:293.5px;
  position:relative;
  overflow:hidden;
}
.sliderContainer{
  position:absolute;
  display:flex;
  transition:ease-in 0.5s all;
  will-change: left;
}
.left{
  text-decoration: none;
  position: absolute;
  left: 0px;
  top: 40%;
  padding: 13px;
  font-size: 45px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 3px;
  color: #fff;
  z-index: 10;
}
.right{
  text-decoration: none;
  position: absolute;
  right: 0px;
  top: 40%;
  padding: 13px;
  font-size: 45px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 3px;
  color: #fff;
  z-index: 10;
}
.left:hover, .right:hover {
  background-color: rgba(0,0,0,0.8);
}
.pagination{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    right: 0px;
    bottom: 5px;
    list-style: none;
}
.point{
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border-color: red;
  margin: 0px 5px;
  background-color: #1abc9c;
}
.point.current{
  background: #f39c12;
}
  /* END SLIDER */

.information {
  text-align: center;
}

h4{
  margin: 0;
}
h4 a{
  text-decoration: none;
  color: #30336b;
}
button {
  margin-top: 17px;
  height: 50px;
  width: 200px;
  background: #fed330;
  border: none;
  border-radius: 10px;
}

button a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

button:hover{
  background: #f39c12;
  transition: 0.4s ease;
}
button a:hover {
  color: white;
}

.instructions{
  font-size: 14px;
  text-align: center;
}
.instructions h3{
  font-size: 22px;
  margin-bottom: 10px;
}

.instructions img{
  height: 24px;
  width: 24px;
}


.arrowText{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.arrowText p{
  padding-bottom: 20px;
  font-family: 'VT323', monospace;
  font-size: 19px;
}

#right {
  transform: rotate(90deg);
}
#down {
  transform: rotate(180deg);
}
#left {
  transform: rotate(270deg);
}
.arrowText{
  display: flex;
  justify-content: space-between;
}
  /* END MAIN */

  /* FOOTER */
.flex-container {
  margin: auto;
  width: 330px;
  display: flex;
  justify-content: space-around;
}

.flex-container a{
  color: white;
  text-decoration: none;
}
.flex-container a:hover{
  color: #f9ca24;
}

.copyright{
  text-align: center;
}
.copyright p {
  font-size: 13px;
  margin-bottom: 0;
}

